---
layout: features
tags: features
title: Socials
desc: Make new friends who also like to hike, add them and chat with them!
---
<div class="social" id="Socials">
    <p>Socials! Meet new people, add them as a friend, instant chat with them and plan hikes together!</p>
<figure>
    <img src="/assets/img/Social_2.jpg" alt="">
</figure>
</div>
<div class="feature--menu">
    <h2 class="subtitle container">What this page contains</h2>
    <ul>
        <li><a href="#Socials"> Socials</a></li>
        <li><a href="#Meeting">Meet new people!</a></li>
        <li><a href="#Friends">Friends!</a></li>
        <li><a href="#Chatting">Chatting!</a></li>
        <li><a href="#MoreFeatures"> MoreFeatures</a></li>
    </ul>
</div>



<section class="social--block">
    <h2 class="subtitle" id="Meeting">Meet new people!</h2>
    <div>
        <section>
    <p>Meet new people trough hikes, or by similar intrests or by crossing paths on a hike!</p>
    <h3>Why meet new people?</h3>
        <ul>
            <li>Become more social</li>
            <li>You might meet someone awesome or even a soulmate/bestfriend</li>
            <li>Make new friends</li>
            <li>Learn more about others</li>
        </ul>
    </section>
    <figure>
        <img src="/assets/img/Social_5.jpg" alt="">
    </figure>
</div>
</section>



<section class="social--block">
    <h2 class="subtitle" id="Friends">Friends!</h2>
    <div>
        <figure>
            <img src="/assets/img/Social_4.jpg" alt="">
        </figure>
        <section>
    <p>Add friends, have them all in 1 spot on the app. Also gives acces to instant-messages, planning and their profiles</p>
    <h3>Why add friends?</h3>
        <ul>
            <li>Keep your hike-friends seperate from people you know well!</li>
            <li>request a different or share your own social media with another user!</li>
            <li>instantly share interesting hikes with people who you might like to do them with!</li>
            <li>give or recieve ratings</li>
            <li>see what your friends are up to and wich Hikes they reccomend!</li>
        </ul>
    </section>
</div>
</section>
<section class="social--block">
    <h2 class="subtitle" id="Chatting">Chatting!</h2>
    <div>
        <section>
        <p>be able to chat with friends anywhere. Made to be light on mobile data, and still be super easy and fun!</p>
        <h3>Perk of our messaging app?</h3>
        <ul>
            <li>Choose how long message stay stored!</li>
            <li>Messaging is light on your battery as wel as on your mobile-data</li>
            <li>messaging is super easy with the message bubble and pop-ups on the home screen</li>
            <li>Still alot of emojies/Gif's available!</li>
            <li>a lot of options data-usage wise, options to toggle auto-loading of gif's, images and much more! </li>
        </ul>
    </section>
        <figure>
            <img src="/assets/img/Social_3.jpg" alt="">
        </figure>
    </div>
</section>
<p class="feature--menu--warp" id="MoreFeatures">features-warp</p>