---
layout: features
tags: features
title: Stats
root: ../
desc: Follow your statistics and see how you progress!
---
<div class="Stats" id="Stats">
    <p>See all your past and current Activities, statistics and set goals!</p>
<figure>
    <img src="/assets/img/Stats_1.png" alt="">
</figure>
</div>

<div class="feature--menu">
    <h2 class="subtitle container">What this page contains</h2>
    <ul>
        <li><a href="#Stats"> Stats</a></li>
        <li><a href="#Statistics">Statistics</a></li>
        <li><a href="#health">Health</a></li>
        <li><a href="#benefits">benefits </a></li>
        <li><a href="#MoreFeatures">MoreFeatures</a></li>
    </ul>
</div>
<section class="Stats--block">
    <h2></h2>
    <div class="Stats--block--content">
        <section>
            <h2 class="subtitle" id="Statistics">What statistics can you keep track of?</h2>
            <p>These are a few things u can keep track of.</p>
            <ul>
                <li>Est. amount of hours walked.</li>
                <li>Distance walked.</li>
                <li>Est. calories burnt.</li>
                <li>Amount of hikes taken part of.</li>
                <li>Avg distance of walked hikes.</li>
                <li>Favourite filters, style's and types of hikes</li>
            </ul>
        </section>
            <figure>
                <img src="/assets/img/stat-1.svg" alt="">
                <img src="/assets/img/stat-2.svg" alt="">
                <img src="/assets/img/stat-3.svg" alt="">
            </figure>
    </div>
    <div class="Stats--block--content">
            <figure class="soloImage">
                <img src="/assets/img/Health_1.png" alt="">
            </figure>
        <section>
            <h2 class="subtitle" id="health">What is so healthy about Hiking?</h2>
            <p>These are a few things u can keep track of.</p>
            <ul>
                <li>Lower your risk of heart disease</li>
                <li>Improve your blood pressure and blood sugar levels</li>
                <li>Boost bone density, since walking is a weight-bearing exercise</li>
                <li>Build strength in your glutes, quadriceps, hamstrings, and the muscles in your hips and lower legs</li>
                <li>Strengthen your core</li>
                <li>improve balance</li>
                <li>Help control your weight</li>
            </ul>
        </section>
    </div>
    <div class="Stats--block--content">
    <section>
        <h2 class="subtitle" id="benefits">What benefits do you get from hiking </h2>
        <p>These are a few things u can keep track of.</p>
        <ul>
            <li>Hiking keeps your mind sharper than many other forms of exercise</li>
            <li>Hiking helps to keep you calm and happy</li>
            <li>Hiking helps your relationships</li>
            <li>Hiking can increase our creativity</li>
            <li>Hiking helps cement a positive relationship with the natural world</li>
        </ul>
    </section>
    <figure class="soloImage">
        <img src="/assets/img/stats-banner.jpg" alt="">
    </figure>
</div>
</section>
<p class="feature--menu--warp" id="MoreFeatures">features-warp</p>
