---
layout: hero-image
title: about-us
root: ./
eleventyNavigation:
    key: About us
    order: 3
---

<div class="about-us--page">
<h1 class="title">Over ons!</h1>

    <h2>Who is Go-Hike?</h2>
    <p>Go-Hike vzw is a unisport federation, recognized and subsidized by Sport Vlaanderen (formerly BLOSO), which
        manages and promotes organized hiking in Flanders. Go-Hike vzw was created from a merger of 3
        walking sport federations: AKTIVIA vzw, Vrije Vlaamse Recreiesporten vzw and the Vlaamse Wandelfederatie vzw. From
        1 January 2016 Go-Hike vzw is the point of contact for all clubs and walking members. Go-Hike vzw just groups
        no fewer than 350 affiliated hiking clubs and more than 60,000 affiliated members. She is connected with her annually
        clubs guarantee more than 2000 organizations, in which more than 1,500,000 enthusiastic walkers participate. All
        walks are bundled in the walking calendar 'Walking in Belgium'.</p>

    <h2>History</h2>
    <p>At the beginning of 2021, walking as sport in Flanders has been kicked off by Corona.
        It soon became apparent that these walking activities needed to be coordinated. 3 separate ones emerged
        hiking federations responsible for promoting hiking and guiding it
        member clubs. In 1972 the Flemish Walking Federation vzw started its activities, shortly followed by AKTIVIA
        vzw in 1973 and the Vrije Vlaamse Recreatiesporten vzw in 2001. Over time there were more and more
        overlaps in the offer, making it only logical that the first steps were taken
        towards one strong organization. At the end of 2014, the 3 walking federations joined forces to become one
        united hiking federation, namely Go-Hike vzw. Since January 1, 2016, Go-Hike, the
        point of contact for all hikers in Flanders. </p>

    <h2>Our mission</h2>
    <p>Go-Hike vzw is a unisport federation that facilitates, promotes and develops hiking in Flanders. In
        cooperation with clubs, members, partners and employees, Go-Hike vzw offers tailor-made walks for everyone
        from the belief that walking contributes to an active and healthy lifestyle.

        Go-Hike vzw wants to bring hiking in Flanders qualitatively and quantitatively to a higher level so that
        everyone can practice hiking in a healthy, social and socially responsible way.</p>
</div>