---
layout: hero-image
title: Contact
eleventyNavigation:
    key: Contact
    order: 3
---
<main class="contact">
    <h1>{{ title }}</h1>
    <div class="contact--page wrapper">
        <h2>need support? contact us personaly!</h2>
        <div class="contact--page--block">
            <div class="contact--page--block--info" >

            </div>
            <div class="contact--page--block--fields">

            </div>
        </div>
    </div>
</main>