---
layout: base
title: Home
root: 
eleventyNavigation:
    key: Home
    order: 1
---

<h1 class="sr-only">My Walking App</h1>

<section class="hero row">
    <div class="hero__decoration col-8">
        <img class="hero__decoration__image" src="../assets/img/logo-large.png" />
    </div>

    {% if features | length %}
    <article class="hero__content">
        <h2 class=" subtitle lead-title--black">
            What do we offer?
        </h2>
        <ul class="hero__content__list">

            {% for feature in features %}
            <li class="hero__content__list__item">
                <small class="detail-title">{{ feature.title }}</small>

                <strong class="base-title">{{ feature.subTitle }}</strong>
                <p class="hero__content__list__item__text"> {{ feature.desc }} </p>
            </li>
            {% endfor %}
        </ul>
    </article>
    {% endif %}
</section>

<main class="container main">
    <section class="hero wrapper">
        <img src="assets/img/features.png" alt="hello">
    </section>

    {% if features | length %}

    <section class="features wrapper container">


        {% for feature in features %}
        <article class="features--article wrapper">
            <div class="features--img">
                {% for img in feature.images %}
                <img src={{ img }} alt="...">
                {% endfor %}
            </div>

            <hr>

            <div class="features--content">
                <strong class="features--content--title">{{ feature.title }}</strong>
                <p class="features--content--text">{{ feature.desc }}</p>
                <button class="features--content--cta"><a href={{ feature.link }}>More about this feature</a></button>
            </div>
        </article>
        {% endfor %}
    </section>
    {% endif %}

    <h2 class="subtitle wrapper container">Reviews</h2>

    {% if reviews | length %}
    <section class="testi container wrapper">
        {% for review in reviews %}
        <article class="testi--article wrapper">
            <div class="testi--article--content">
                <em><span>"</span>{{ review.title }}</em>
                <div class="testi--article--content--user">
                    <img src="{{root}}/{{ review.image }}" alt="">
                    <span>Review by <strong> {{ review.name }}</strong></span>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
    {% endif %}

    <h2 class="wrapper subtitle">Sponsors</h2>
    <section>
        <article class="sponsor container wrapper">
            <ul class="sponsor--list">
                <li><img src="{{root}}/assets/img/Sponsor.jpg" alt=""></li>
                <li><img src="{{root}}/assets/img/Sponsor.jpg" alt=""></li>
                <li><img src="{{root}}/assets/img/Sponsor.jpg" alt=""></li>
                <li><img src="{{root}}/assets/img/Sponsor.jpg" alt=""></li>
                <li><img src="{{root}}/assets/img/Sponsor.jpg" alt=""></li>
                <li><img src="{{root}}/assets/img/Sponsor.jpg" alt=""></li>
                <li><img src="{{root}}/assets/img/Sponsor.jpg" alt=""></li>
                <li><img src="{{root}}/assets/img/Sponsor.jpg" alt=""></li>
                <li><img src="{{root}}/assets/img/Sponsor.jpg" alt=""></li>
                <li><img src="{{root}}/assets/img/Sponsor.jpg" alt=""></li>
            </ul>
        </article>
    </section>

    {% if blog | length %}
    <h2 class="wrapper subtitle">Blog</h2>

    <section class="blog container">
        {% for blog in blog %}
        <article class="blog--article">
            <img src={{ blog.image }} alt="">
            <h4>{{ blog.title }}</h4>
            <p>{{ blog.description }}</p>
        </article>
        {% endfor %}
    </section>
    {% endif %}
    <hr />
</main>

{% if quotes | length  %}
<h2 class="subtitle wrapper ">Quotes</h2>
<section class="qoutes wrapper">
    <ul class="qoutes--list">
        {% for quote in quotes %}
        <li>
            <figure>
                <blockquote>
                    "{{ quote.quote }}"
                </blockquote>
                <figcaption>— {{ quote.author }}</figcaption>
            </figure>
        </li>
        {% endfor %}
    </ul>

</section>
{% endif %}