---
layout: base
title: Home
eleventyNavigation:
    key: Home
    order: 1
---

<h1 class="sr-only">My Walking App</h1>

<section class="hero row">
    <div class="hero__decoration col-8">
        <img
            class="hero__decoration__image"
            src="../assets/img/logo-large.png"/>
    </div>

    <article class="hero__content col-4">
        <h2 class="lead-title--black">
            What do we offer?
        </h2>

        <ul class="hero__content__list">
            <li class="hero__content__list__item">
                <small class="detail-title">Friends</small>

                <strong class="base-title">Make new friends while walking!</strong>

                <p class="hero__content__list__item__text">
                    Cillum velit commodo aliqua pariatur duis laborum consequat exercitation in esse ex.
                </p>
            </li>
            <li class="hero__content__list__item">
                <small class="detail-title">Friends</small>

                <strong class="base-title">Make new friends while walking!</strong>

                <p class="hero__content__list__item__text">
                    Cillum velit commodo aliqua pariatur duis laborum consequat exercitation in esse ex.
                </p>
            </li>
            <li class="hero__content__list__item">
                <small class="detail-title">Friends</small>

                <strong class="base-title">Make new friends while walking!</strong>

                <p class="hero__content__list__item__text">
                    Cillum velit commodo aliqua pariatur duis laborum consequat exercitation in esse ex.
                </p>
            </li>
        </ul>
    </article>
</section>
    <main class="container">
        <section class="hero">
            <img src="" alt="">

            <article>
                <h1>What you might like</h1>

                <ul>
                    <li>
                        <span>Trip Revieuws</span>
                        <strong>The Andaman Islands</strong>
                        <p>Few things get the world's travel excited like...</p>
                    </li>
                    <li>
                    <li>
                        <span>Travel guides</span>
                        <strong>Five reasons to visit oman</strong>
                        <p>We think that the Middle Eastern country of Oman...</p>
                    </li>
                    <li>
                    <li>
                        <span>Trip Revieuws</span>
                        <strong>A dessert Oasiss in Jordan</strong>
                        <p>Arrivving after a long, satisfying walk through part of...</p>
                    </li>
                </ul>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>

                <hr>

                <div>
                    <strong>Title of the feature</strong>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam eveniet rem quia saepe soluta
                        exercitationem, reiciendis, ut alias atque, dolor quo modi quod in doloribus iusto fugit rerum
                        repellat amet!</p>
                    <button>Primary button</button>
                </div>
            </article>

            <article>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>

                <hr>

                <div>
                    <strong>Title of the feature</strong>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam eveniet rem quia saepe soluta
                        exercitationem, reiciendis, ut alias atque, dolor quo modi quod in doloribus iusto fugit rerum
                        repellat amet!</p>
                    <button>Primary button</button>
                </div>
            </article>
            <article>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>

                <hr>

                <div>
                    <strong>Title of the feature</strong>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam eveniet rem quia saepe soluta
                        exercitationem, reiciendis, ut alias atque, dolor quo modi quod in doloribus iusto fugit rerum
                        repellat amet!</p>
                    <button>Primary button</button>
                </div>
            </article>
        </section>
        <section>
            <article>
                <h3>Testimonials</h3>
                <div>
                    <em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsam repellat at minus totam
                        eaque amet quaerat doloremque qui veniam voluptatum, atque vitae illum eos! Libero officia
                        distinctio dolor amet!</em>
                    <div>
                        <img src="" alt="">
                        <span>Review by <strong>Name Surname</strong></span>
                    </div>
                </div>
            </article>
            <article>
                <em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsam repellat at minus totam
                    eaque amet quaerat doloremque qui veniam voluptatum, atque vitae illum eos! Libero officia
                    distinctio dolor amet!</em>
                <div>
                    <img src="" alt="">
                    <span>Review by <strong>Name Surname</strong></span>
                </div>
                </div>
            </article>
            <article>
                <em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsam repellat at minus totam
                    eaque amet quaerat doloremque qui veniam voluptatum, atque vitae illum eos! Libero officia
                    distinctio dolor amet!</em>
                <div>
                    <img src="" alt="">
                    <span>Review by <strong>Name Surname</strong></span>
                </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <h3>Klanten</h3>
                <ul>
                    <li><img src="" alt="">Logo</li>
                    <li><img src="" alt="">Logo</li>
                    <li><img src="" alt="">Logo</li>
                    <li><img src="" alt="">Logo</li>
                    <li><img src="" alt="">Logo</li>
                    <li><img src="" alt="">Logo</li>
                    <li><img src="" alt="">Logo</li>
                    <li><img src="" alt="">Logo</li>
                    <li><img src="" alt="">Logo</li>
                    <li><img src="" alt="">Logo</li>
                </ul>
            </article>
        </section>
        <section>
            <article>
                <img src="" alt="">
                <h4>Chineese new year - The year of the Dog</h4>
                <p>Tour leader Amanda has just returned ti Dhake ready to lead her third tour in bangladesh. Here she explains how the country differed form her expectations</p>
            </article>
            <article>
                <img src="" alt="">
                <h4>Birds, beasts and beauties of bangladesh</h4>
                <p>Tour leader Amanda has just returned ti Dhake ready to lead her third tour in bangladesh. Here she explains how the country differed form her expectations</p>
            </article>
            <article>
                <img src="" alt="">
                <h4>The Emty Quarter Desert - Rub al Khali</h4>
                <p>The Arabic name Rub al Khali means "emty quarter". the name was given to it because it's a huge stretch of unbroken sand desert that has bested kings</p>
            </article>
        </section>
        <hr />
        <p>waziosdspudhsdpiuh</p>
        <section>
            <h2>Hero Banner with Aspect Ratio</h2>

            <figure class="display-image--sixteen-nine">
                <img
                    src="https://images.unsplash.com/photo-1523215108660-3fdf7932d7a5?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1045&q=80" />
            </figure>
        </section>
    </main>

{% if quotes | length  %}
    <section class="container">
        <h2>Quotes</h2>

        <ul>
            {% for quote in quotes %}
                    <li>
                        <figure>
                            <blockquote>
                                "{{ quote.quote }}"
                            </blockquote>

                            <figcaption>— {{ quote.author }}</figcaption>
                        </figure>
                    </li>
            {% endfor %}
        <ul>
    </section>
{% endif %}

{% if collections.features | length %}
    <section class="container">
        <h2>Features</h2>

        {% for feature in collections.features %}
            <ul>
                <li>
                    <a href="{{ feature.url }}">
                        {{ feature.data.title }}
                    </a>
                </li>
            </ul>
        {% endfor %}
    </section>
{% endif %}
