
.footer {
    margin-bottom: 2rem;
    &--wrapper{
        display: flex;
        justify-content: space-around;
        background-color: white;
        >div{
            @media (min-width: 875px) {
                
                display: flex;
            }
            >img{
                width: 13rem;
                margin: 0 auto 0 0;
            }
        }
    }
    &--links{
        display: flex;
        // justify-content: space-around;
        >section{
            padding: 3rem 0;
            >h3{
                color: rgb(255, 81, 0);
                margin-top: 0;
            }
            >li{
                list-style: none;
                >a{
                    word-break: break-all;
                }
            }
        }
    }
    margin-top: $spacing-lg;
    text-align: center;
}

