---
layout: base
---

{# <img src="assets/img/features.png" /> #}

    {{ content | safe }}

{% if allAuthors | length %}
    <h2>De auteurs van deze blog zijn:</h2>

    <ul>
        {% for author in allAuthors %}
                <li>
                    {{ author }}
                </li>
        {% endfor %}
    </ul>
{% endif %}