.contact{
  background-color: white;
  padding: 2rem;
  border-radius: 50px;
  box-sizing: border-box;
  &--page{

    &--block{
      @media (min-width: 875px) {
        display: flex;
      }
      height: 25rem;
      &--info{
      width: 50%;
      height: 50%;
      background-color: $orange;
      }
      &--fields{
      width: 50%;
      height: 50%;
      box-sizing: border-box;
      border: 4px solid $orange;
      }
    }
  }
}