@media(min-width: 875px) {
  .hero{
    &__content{
      >ul {
  
        >li {
  
          >small {
          font-size: 1.4rem;
          }
  
          >strong {
          font-size: 1.6rem;
          }
  
          >p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}