---
layout: post
title: News from other sources
tags:
root: ../
eleventyNavigation:
    key: News
    order: 2
---

<main class="news">
<h1 class="title"> {{ title }}</h1>
<ul>
    {% for article in news %}
        <li class="news--list">
            <a target="_blank" href={{ article.url }}> 
                <div class="news--list--content">
                    <h2 class="subtitle">Post by: {{ article.source.name }}</h2>
                    <h3>{{ article.title }}</h3>
                    <img src={{ article.urlToImage }} alt="">
                    <p>{{ article.content }}</p>
                    <p> <strong>{{ article.author }}</strong> • {{ article.publishedAt }} </p>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
</main>
{{ content | safe }}

{% include "_components/featuresComp.njk" %}