<div class="footer--wrapper">
<div>
<img src="../assets/img/logo.png">
</div>
  <ul class="footer--links wrapper">
    <section>
      <h3>footer title</h3>
      <li><a>footer content</a></li>
      <li><a>footer content</a></li>
      <li><a>footer content</a></li>
      <li><a>footer content</a></li>
    </section>

    <section>
      <h3>footer title</h3>
      <li><a>footer content</a></li>
      <li><a>footer content</a></li>
      <li><a>footer content</a></li>
      <li><a>footer content</a></li>
    </section>

    <section>
      <h3>footer title</h3>
      <li><a>footer content</a></li>
      <li><a>footer content</a></li>
      <li><a>footer content</a></li>
      <li><a>footer content</a></li>
    </section>

  </ul>
</div>
Copyright {{ helpers.currentYear() }} @ Nick Roofthooft