{% set navPages = collections.all | eleventyNavigation %}

<header>
  <div class="header wrapper">
  <figure class="logo wrapper">
    <img src="{{root}}assets/img/logo.png" alt="">
  </figure>
        <nav class="navbar wrapper">
            <ul class="navbar--list">
                {% for navItem in navPages %}
                    <li>
                        <a href="{{ navItem.url }}">
                            {% if page.url === navItem.url %}
                                <strong>
                                    {{ navItem.title }}
                                </strong>
                            {% else %}
                                {{ navItem.title }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
        <a class="hero-image--horizontal">
            <img src="{{root}}assets/img/banner.jpg" alt="...">
        </a>
</header>